.app-header {
  font-family: 'Montserrat', sans-serif;
  color: #43302E;
}

.nav-container {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.header-text h1 {
  color: #198E95;
  padding-top: 20%;
  font-size: 96px;
  font-weight: bolder;
  margin-bottom: 41px;
}

.header-info {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}

.header-text h3 {
  width: 527px;
  height: 88px;
}

.nav-container .nav-info-img {
  width: 100%;
}

.header-button .button-info-main {
  width: 276px;
  height: 58px;
  margin-top: 41px;
  color: #FFFFFF;
  background: #198E95;
  box-shadow: 0px 7px 25px rgba(40, 92, 76, 0.34);
}