.sidepanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    position: sticky;
    width: 60px;
    height: 86px;
    left: 45px;
    top: 500px;
}

.sidepanel__icon {
    width: 24px;
    height: 24px;
    margin: 10px;
}

.sidepanel__icon img {
    width: 100%;
    height: 100%;
}